.bg {
    background-color: #141414;
    color: #2ce322;
    margin: 30px auto;
}

h1 {
    font-size: 3rem;
}

.header {
    margin: 8% auto 2% auto !important;
}

#display {
    text-align: center;
    color: #eeffee;
    font-size: 58px;
    margin-top: 2%;
    width: 100%;
}

button {
    background-color: #141414;
    color: #2ce322;
    border: 1.5px solid #2ce322 !important;
}