.bg {
    background-color: #141414;
    color: hsl(117, 78%, 51%);
    margin-top: 2%;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}


#display {
    color: #eeffee;
    font-size: 58px;
    margin-top: 2%;
    width: 100%;
}

button {
    background-color: #141414;
    color: #2ce322;
    border: 1.5px solid #2ce322 !important;
}